body {
    font-family: Roboto, Roboto Condensed, sans-serif;
}

.hdr-class {
    display:flex;
    justify-content: space-between;
    width: 100vw;
}

.logo {
    display:flex;
    padding: 5px;
    width: 100%;
    justify-content: center;
}

header img {
    width: 80px;
    height: 80px;
}

header h1 {
    margin-left:20px;
    color: #6aa87b;
}

.topnav {
    /*background-color: #f90;*/
    overflow: hidden;
    z-index:10;
}

.topnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 30px;
    width: 100%;
    padding: 1px 2px 0px 2px;
    background-color: #f90;
    font-weight: 700;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.topnav a {
    text-decoration: none;
}

nav a:link {
    color: #5959ac;
}

nav:hover {
    background: #6aa87b;
    color: #cad4c8;
}

.bigImageStyle {
    width: 100%;
    text-align: center;
}

/*Styling for attractions details photos:*/

main {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 20px;
}

.gallery-parent {
    /*width: 1300px;*/
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 4px auto;
}

.gallery-parent figure {
    width: 260px;
    height: 250px;
    padding: 10px;
    border-color: #c2cea2;
    border-style: solid;
    border-radius: 15px;
    margin: 8px;
}

.imageSize {
    max-width: 200px;
    max-height: 160px;
}

.landscape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portrait {
    display: flex;
    align-items: center;
}

.attractionName {
    color: #5959ac;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 0px 2px 8px;
}

.attractionDesc {
    color: #6aa87b;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 0px 0px 8px;
}

/* Following class, .center-contactus-text, is used on the Contact Us screen */
.center-contactus-text {
    text-align: center;
}

footer {
    font-size: 10px;
    background-color: #6aa87b;
    color: #000;
    height:34px;
    width:100%;
    padding: 1px 2px 0px 40px;
    margin-top: 0px;
    bottom: 0px;
    position:fixed;
}
h1 {color:#5959ac;
}
h2 {color:#5959ac;
}

.Things to Know{
    display:flex;
}

/*
Color Palette:
#55c2b7 dusty teal
#ff9900 or #f90 muted orange
#6aa87b twilight green
#cad4c8 steely gray
#c2cea2 tender sage
#5959ac elegant blue
*/

/* MEDIA QUERIES*/

@media only screen and (max-width: 700px){
    
    .gallery-parent{
        width: 500px;
    }
    
    .gallery-parent figure{
        width: 300px;
    }
    
.about-us {display: inline-block;
}

.empty {height:70px;
 }
}