.imgtransition {
    width: 100px;
    display:block;
    margin-bottom: 1px;
    /* height: 100px; */
    /* background: red; */
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 1s, height 10s, transform 10s;
}

.imgtransition:hover {
    width: 75vw;
    /* height: 300px; */
    /*
    -webkit-transform: rotate(180deg); */ /* Safari */
    /* transform: rotate(180deg); */ 
}
